@page "/pages"
@model IdentityApp.Pages.LandingModel

<h4 class="bg-info text-white text-center p-2">Pages - Level 1 - Anyone</h4>

<div class="text-center">
    <h6 class="p-2">
        The store contains @Model.DbContext.Products.Count() products. 
    </h6>
</div>
