<div class="text-center m-2">
    <a class="btn btn-secondary btn-sm" asp-page="Landing">Level 1</a>
    <a class="btn btn-secondary btn-sm" asp-page="Store">Level 2</a>
    <a class="btn btn-secondary btn-sm" asp-page="Admin">Level 3</a>
</div>
