@page
@using Microsoft.AspNetCore.Authorization
@using ExampleApp.Identity 
@attribute [Authorize]
@attribute [Full2FARequiredFilter]

<h4 class="bg-info text-center text-white m-2 p-2">
    This is the VERY secret message
</h4>
